#scaling-factor, #room-input, #furniture-input {
    width: 800px;
    margin-left: 13px;
}
#scaling-factor {
    margin-bottom: 9px;
    margin-top: 3px;
}
#scaling-factor-bar {
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: #aaaaaa;
}
#scaling-factor-label {
    margin-top: 0px;
    margin-left: 5px;
    font-size: 15px;
    display: inline-block;
}
#room-input {
    display: inline-block;
}
#room-dimensions-add, #furniture-dimensions-add {
    float: right;
    margin: 5px;
    margin-right: 8px;
}